@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
html,
body {
  /* background-color: white; */
  /* background-image: url("https://rendyp.github.io/assets/page1/Layer 26.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100%;
  width: 100%;
  margin: 0;
}

section {
  max-width: 1024px;
  height:100%;
  width: 100%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.muka{
  background-image: url("https://rendyp.github.io/assets/page1/Layer 26.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.board{
  max-width: 50%;
  max-height: 50%;
  position: relative;
}

/* Start Floral */
.floral-1{
  max-width: 85%;
  position: absolute;
  padding-top: 0%;
  margin-left: -20%;
  animation: diving 6s ease-in-out infinite, diving-rotate 6s ease-in-out infinite;
}

.floral-2{
  max-width: 50%;
  position: absolute;
  padding-top: 6%;
  margin-left: -20%;
  animation: diving-2 6s ease-in-out infinite, diving-rotate-2 6s ease-in-out infinite;
}

.floral-3{
  max-width: 50%;
  padding-top: 5%;
  position: absolute;
  margin-left: -15%;
  animation: diving 12s ease-in-out infinite, diving-rotate 9s ease-in-out infinite;
}

.floral-4{
  max-width: 20%;
  padding-top: 55%;
  position: absolute;
  margin-left: -3%;
  animation: diving 2s ease-in-out infinite, diving-rotate 3s ease-in-out infinite;
}

.floral-5{
  max-width: 60%;
  padding-top: 75%;
  position: absolute;
  margin-left: -5%;
  animation: diving-2 5s ease-in-out infinite, diving-rotate-2 10s ease-in-out infinite;
}

.floral-6{
  max-width: 20%;
  position: absolute;
  padding-top: 32%;
  margin-left: 18%;
  animation: diving 12s ease-in-out infinite, diving-rotate 9s ease-in-out infinite;
}

.floral-7{
  max-width: 7%;
  position: absolute;
  padding-top: 30%;
  margin-left: 58%;
  animation: diving-7 6s ease-in-out infinite, diving-rotate 6s ease-in-out infinite, butterfly 6s ease-in-out infinite;
}

.floral-8{
  max-width: 50%;
  position: absolute;
  padding-top: 0%;
  margin-left: -8%;
  animation: diving 2s ease-in-out infinite, diving-rotate 2s ease-in-out infinite;
}

.floral-9{
  max-width: 30%;
  position: absolute;
  padding-top: 100%;
  margin-left: 35%;
  animation: diving-2 5s ease-in-out infinite, diving-rotate-2 10s ease-in-out infinite;
}

.floral-10{
  max-width: 40%;
  position: absolute;
  padding-top: 50%;
  margin-left: -12%;
  animation: diving-9 5s ease-in-out infinite;
}

.floral-11{
  max-width: 60%;
  position: absolute;
  padding-top: 120%;
  margin-left: -5%;
  animation: diving-rotate 4s ease-in-out infinite;
}

.floral-12{
  max-width: 30%;
  position: absolute;
  padding-top: 105%;
  margin-left: 10%;
  animation: diving-rotate 3s ease-in-out infinite;
}

.floral-13{
  max-width: 20%;
  position: absolute;
  padding-top: 125%;
  margin-left: 10%;
  animation: diving-rotate 10s ease-in-out infinite;
}

@keyframes diving {
  0% {
    margin-top: 15px;
  }
  50% {
    margin-top: 15px;
  }
  100% {
    margin-top: 15px;
  }
}

@keyframes diving-rotate {
  0% {
    transform: rotate(0deg);
    transform-origin: bottom left;
  }
  50% {
    transform: rotate(3deg);
    transform-origin: bottom left;
  }
  75% {
    transform: rotate(-2deg);
    transform-origin: bottom left;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: bottom left;
  }
}

@keyframes diving-2 {
  0% {
    margin-top: 15px;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 15px;
  }
}

@keyframes diving-rotate-2 {
  0% {
    transform: rotate(0deg);
    transform-origin: bottom left;
  }
  25% {
    transform: rotate(-2deg);
    transform-origin: bottom left;
  }

  50% {
    transform: rotate(-1deg);
    transform-origin: bottom left;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: bottom left;
  }
}

@keyframes diving-7 {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: -5px;
  }
  50% {
    margin-top: -20px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes butterfly {
  0% {
    transform: scale(1.0);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.0);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes diving-9 {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0px;
  }
}
/* end floral */

p.date {
  font-family: 'Alex Brush', cursive;
  font-size: 1.5rem;
}

h1.tittle {
  font-family: 'Great Vibes', cursive;
  font-weight: 550;
  font-size: 3.5rem;
}

h2.name {
  font-family: 'Great Vibes', cursive;
  font-size: 5.5rem;
}

h3.name {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
}

.btn-open {
  background-color: #ea80a1;
  cursor: pointer;
  padding: 0.75rem 1rem;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 0 0 #eaa2b8;
  transform: scale(1);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 #eaa2b8;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px #fbdde8;
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 #eaa2b8;
  }
}

.about-us {
  font-family: 'Great Vibes', cursive;
  font-size: 4rem;
  font-weight: 500;
  color: black;
}

.modal-title {
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  font-weight: 600;
  color: #ea80a1;
}

.carousel-img {
  object-fit: cover;
  object-position: center center;
  background-position: center;
}

.background-primary {
  background-color: #ea80a1;
}

.background-timer {
  background-color: #ea80a1;
  width: 160px;
  height: 160px;
}

.background-handshake {
  background-color: #ea80a1;
  width: 120px;
  height: 120px;
}

.background-gray {
  background-color: #f5f5f5;
}

.background-dark {
  background-color: #2E2F3A;
}

.background-quote {
  background-image: url("assets/bg1.png");
  background-size: 80%;
  background-position: bottom left;
  background-repeat: no-repeat;
}

.container-map {
  width: 100%;
  max-width: 732px;
}

.h-15px {
  height: 2px;
}



.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 300ms;
}
